html, body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    width: 100%;
    z-index: 1000;
    top: 0;
    background-color: white;
}

.logo {
    z-index: 0;
    display: flex;
    align-items: center;
    height: 32px;
    padding-left: 24px;
}

.text-colmar, .text-academy {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

.text-colmar h2 {
    color: black;
}

.text-academy h2 {
    color: lightgrey;
}

.menu {
    z-index: -100;
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 24px;
}

.nav {
    display: flex;
    list-style: none;
    align-items: center;
    flex-direction: row;
}

.nav li {
    cursor: pointer;
    padding-left: 16px;
    padding-right: 16px;
}

.learning {
    z-index: 1;
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
    display: flex;
    width: 100%;
    height: fit-content;
    align-items: center;
    padding-top: 64px;
}

.learning-image {
    z-index: 100;
    padding-top: 32px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 32px;
    border-radius: 8px;
    overflow: hidden;
}

.learning-info {
    padding-right: 32px;
    padding-left: 24px;
    z-index: 5;
    text-align: center;
    padding-bottom: 180px;
}

.learning-info h1 {
    font-size: 50px;
    font-weight: bold;
    color: black;
}

.learning-info h3 {
    font-size: 20px;
    font-weight: lighter;
    color: black;
}

.learning-info button {
    transition: background-color 3s ease;
    padding: 8px 60px;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
}

button {
    color: rgb(0, 0, 0);
    background-color: antiquewhite;
    width: 100%;
    height: 65px;
    border-radius: 8px;
}

h4 {
    font-weight: lighter;
    text-align: center;
}

button text {
    padding-top: 8px;
    padding-bottom: 8px;
}

button:hover {
    background-color: yellow;
    font-family: cursive;
}

.second-section {
    display: flex;
    flex-direction: row;
    padding-top: 32px;
    padding-bottom: 32px;
}

.event-sideline {
}

.img-event-sideline {
    padding-left: 24px;
    padding-right: 24px;
}

.event-sideline h2 {
    padding-top: 32px;
    padding-right: 24px;
    padding-left: 24px;
    padding-bottom: 24px;
    font-weight: bold;
    font-size: 40px;
    color: black;
}

.event-sideline h3 {
    padding-right: 24px;
    padding-left: 24px;
    padding-bottom: 32px;
    font-weight: lighter;
    color: grey;
}

.special-h3 {
    padding-bottom: 32px;
}

.events {
    display: flex;
    flex-direction: column;
    padding-left: 24px;
    padding-top: 32px;
    border: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}

.orientation,
.our-campus,
.our-guest-lecture {
    border: 1px solid lightgrey;
    padding: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 24px;
}

.orientation-img,
.our-campus-img,
.guest-lecture-img {
    flex: 1;
    padding-right: 16px;
    padding-left: 16px;
    border-radius: 1px;
}

.information-text {
    text-align: center;
    flex: 2;
    max-width: 65%;
    flex: 1 1 65%;
}

.orientation h2,
.our-campus h2,
.our-guest-lecture h2 {
    margin: 0;
    text-wrap: nowrap;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.orientation h3,
.our-campus h3,
.our-guest-lecture h3 {
    margin: 8px 0;
    font-weight: lighter;
}

.orientation a,
.our-campus a,
.our-guest-lecture a {
    margin: 8px 0;
    font-weight: lighter;
}

.learning-3 {
    display: flex;
    flex-direction: column;
    color:rgb(70, 68, 68);
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
    padding-bottom: 32px;
    width: 100%;
}

.learning-3 h1 {
    font-size: 64px;
    padding-top: 32px;
    padding-bottom: 32px;
}

.start_learning {
    list-style: none;
    display: flex;
}

.start_learning li {
    margin: 32px;
    width: 33%;
}

.software_engineering, .computer_art, .design, .data, .business, .marketing {
    background-color: white;
}

.software_engineering img, .computer_art img, .design img, .data img, .business img, .marketing img {
    width: 100%;
    height: auto;
}

.software_engineering h3, .computer_art h3, .design h3, .data h3, .business h3, .marketing h3 {
    padding-top: 16px;
    padding-left: 16px;
}

.software_engineering p, .computer_art p, .design p, .data p, .business p, .marketing p{
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
}

.centered-text{
    font-size: 64px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 32px;
    text-align: center;
}
.thesis {
    display: flex;
    flex-direction: row;
    padding-top: 32px;
    padding-bottom: 32px;
}

.thesis-left{
    align-items: left;
    flex-flow: left;
    width: 60%;
}
.thesis video{
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 12px;
}

.thesis h2 {
    padding-right: 24px;
    padding-left: 24px;
    padding-bottom: 8px;
    font-weight: bold;
    font-size: 40px;
    color: black;
}

.thesis-left p {
    padding-bottom: 32px;
    padding-left: 24px;
}

.thesis ul {
    width: 40%;
    display: column;
    flex-direction: row;
    text-wrap: none;
    list-style: none;
}

.fisma{
    background-color: lightgray;
}
.thesis ul li {
    display: flex;
}

.thesis ul li img{
    height: auto;
    width: 35%;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 32px;
    padding-left: 16px;
}

.thesis ul li h3{
    padding-top: 32px;
    font-size: 32px;
}

.thesis ul li p{
    padding-right: 24px;
    padding-bottom: 32px;
    font-weight: lighter;
    font-size: 16px;
    color: grey;
}


.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid grey;
    padding: 10px 0;
}

.right-aligned {
    padding-top: 16px;
    padding-left: 24px;
    text-align: right;
}

.left-aligned {
    padding-top: 16px;
    text-align: left;
}
